/*  


Spis treści
    01. Ogólne
    02. Nagłówek
    03. Nawigacja
    04. Usługi
    05. parallax
    06. Menu
    07. Stopka
    08. RWD
    09. Okienko
*/


/* ==========================================================================
    01. Ogólne
========================================================================== */
body {
    font-family:'Kreon',serif;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
}
img {
    max-height:100%;
    max-width:100%;
    border-radius: 20px;
}
section {
    position:relative;
    padding:0;
    background:#F0A830;
    color:#FFF;
    text-align:center;
}
section::before,section::after {
    position:absolute;
    content: '';
}

/* separatory */
.ss-style-top::before {
    left:0;
    width:100%;
    height:30px;
    -webkit-background-size:25px 100%;
    -moz-background-size:25px 100%;
    -o-background-size:25px 100%;
    background-size:25px 100%;
    top:0;
    background-image:linear-gradient(315deg,#FFF 50%,transparent 50%),linear-gradient(45deg,#FFF 50%,transparent 50%);
    margin-top:-30px;
    z-index:100;
}
.ss-style-bottom::before {
    left:0;
    width:100%;
    height:30px;
    -webkit-background-size:25px 100%;
    -moz-background-size:25px 100%;
    -o-background-size:25px 100%;
    background-size:25px 100%;
    top:0;
    background-image:linear-gradient(583deg,#FFF 50%,transparent 50%),linear-gradient(136deg,#FFF 50%,transparent 50%);
    margin-top:0px;
    z-index: 100;
}


/* ==========================================================================
    02. Nagłówek
========================================================================== */

#header {
    background-image:url(../img/night.jpg);
    -webkit-background-size:/*@@prefixmycss->No equivalent*/;
    -moz-background-size:cover;
    -o-background-size:/*@@prefixmycss->No equivalent*/;
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
    background-repeat:no-repeat;
}
.bg-overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(44,33,5,0.2);
    z-index:0;
}
#header .center {
    position:relative;
    z-index:1;
    color:white;
}
#header .bottom {
    color:white;
}
#header .banner h1 {
    font-size:100px;
    color:white;
    text-transform:uppercase;
    font-weight:bold;
    display:inline-block;
    background: #ca7d00;
    padding:0px 18px;
    border-radius: 20px;
}
#header .subtitle h4 {
    display:inline-block;
    background:white;
    color: #ca7d00;
    font-size:38px;
    padding:0px 15px;
}
#header .bottom {
    text-align:center;
    width:100%;
    position:absolute;
    bottom:30px;
}
#header .bottom a {
    font-size:36px;
    color:whitesmoke;
    position:relative;
    top:-5px;
}
.navbar-nav>li:nth-child(3) {
    margin-right: 110px;
}


/* ==========================================================================
   03. Nawigacja
========================================================================== */
#menu {
    background:rgba(33,45,57,0.8);
    margin-bottom:0;
}
.navbar-brand h2 {
    margin-top:0;
    font-weight:bold;
    color:white;
}
.navbar-brand {
    padding-top:8px;
    padding-bottom:0;
}
.navbar-inverse .navbar-nav>li>a {
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
    -o-transition:all 0.4s;
    transition:all 0.4s;
    color:white;
    font-weight:bold;
}
.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>.active>a {
    background: #ca7d00;
    color:white;
    text-shadow:none;
}


/* ==========================================================================
    04. Usługi
========================================================================== */
.light-wrapper {
    background:#fbfbfb;
}
.inner {
    padding-top:100px;
    padding-bottom:100px;
}
.section-title {
    font-size:36px;
    line-height:40px;
    text-transform:uppercase;
    margin-bottom:15px;
    font-weight:600;
}
.main.lead {
    margin-bottom:80px;
}
.lead {
    font-size:17px;
    line-height:24px;
    font-weight:normal;
    text-transform:uppercase;
    margin-bottom:15px;
    color: #ca7d00;
    position:relative;
}
.lead:after {
    position:absolute;
    content:' ';
    background: #ca7d00;
    width:80px;
    height:3px;
    bottom:-22px;
    left:50%;
    margin-left:-40px;
}
.story .col-wrapper {
    padding:0 10px;
}
.story .icon-wrapper {
    position:relative;
    height:80px;
    margin-top: 40px;
}


/* ==========================================================================
    05. parallax 
========================================================================== */
.parallax {
    background-image:url(../img/parallax1.jpg);
    -webkit-background-size:/*@@prefixmycss->No equivalent*/;
    -moz-background-size:cover;
    -o-background-size:/*@@prefixmycss->No equivalent*/;
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
    background-repeat:no-repeat;
}



    
.parallax .inner {
    padding-top:130px;
    padding-bottom:130px;
}
.parallax.parallax2 {
    background-image:url(../img/parallax2.jpg);

}
.parallax h1,.parallax h2,.parallax h3,.parallax h4,.parallax h5,.parallax h6 {
    color:#fff;
}
.facts p {
    font-size:16px;
    text-transform:uppercase;
    margin:0;
}
.story .icon-wrapper i {
    font-size:70px;
}
.facts i {
    font-size: 70px;
}


/* ==========================================================================
    06. Menu
========================================================================== */

.menu-items-desc {
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    color: #FFF;
}
.liczba {
    font-weight: normal;
    color: #ca7d00;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 14px;
}
.liczba2 {
    font-weight: normal;
    color: #ffffff;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    font-size: 14px;
    text-align: center;;
}
.text {
    font-weight: normal;
    color: #FFF;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    font-size: 12px;
    text-align:center
}


.menu-titles.pizza{
    font-size: 10px;
    color: #ca7d00;
    text-align: center;
}
#food-menu ul {
    margin:0;
    padding:0;
    list-style:none;
}
.menu-images img {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border:5px solid #dadada;
    display:block;
    margin:auto;
    margin-top: 40px;
}




/* ==========================================================================
   07. Stopka
========================================================================== */
.dark-wrapper {
    background: #ca7d00;
    color:white;
    font-size:20px;
    font-weight:bold;
}
.dark-wrapper .ss-style-top::before {
    background-image:linear-gradient(315deg, #ca7d00 50%,transparent 50%),linear-gradient(45deg, #ca7d00 50%,transparent 50%);
}
.social-bar {
    width:100%;
    text-align:left;
}
.social-bar a {
    display:inline-block;
    margin-right:11px;
    font-size:2.15em;
    text-decoration:none;
    color:#fff;
    opacity:1;
    filter:alpha(opacity=100);
    -webkit-transition:opacity 350ms ease;
    -moz-transition:opacity 350ms ease;
    -o-transition:opacity 350ms ease;
    transition:opacity 350ms ease;
}
.social-bar a:hover {
    opacity:0.5;
    filter: alpha(opacity=50);
}


/* ==========================================================================
    08. RWD
========================================================================== */

@media (max-width: 991px){
    .pricing .pricing-item .pricing-item-details {
        margin-left: 0;
    }

    .pricing .pricing-item a img {
        float: none;
        margin-bottom: 30px;
    }
}

@media (min-width:768px) {
    .navbar-nav {
        float:none !important;
        width:100%;
        text-align:center;
        margin-left:2px;
    }
    .navbar-nav>li {
        display:inline-block;
        float:none;
    }
    #logo {
        position:absolute;
        display:block !important;
        width:110px;
        left:50%;
        margin-left:-55px;
        background:black;
        -webkit-border-radius:0 0 100% 100%;
        -moz-border-radius:0 0 100% 100%;
        border-radius:0 0 100% 100%;
        padding: 12px;
    }
}

@media (max-width:767px) {
    #header .banner h1 {
        font-size:60px;
        background: #ca7d00;
    }
    #header .subtitle h4 {
        font-size: 22px;
    }
    .social-bar {
        text-align: left;
        margin-top: 30px;
    }
    .parallax, .parallax.parallax2
     {
        background: black;
     }
}


/* ==========================================================================
    09. Okienko
========================================================================== */

.promo {
    color: red;
    font-size: 30px;
}
.okienko {
    top: 30%;
}